RewriteEngine On
RewriteBase /landingpage-template-carousel/

# Tampilkan halaman utama jika URL adalah /
RewriteRule ^$ index.php [L]

# Tampilkan halaman admin jika URL adalah /admin
RewriteRule ^admin$ admin.php [L]

# Tampilkan halaman admin jika URL adalah /login
RewriteRule ^login$ login.php [L]
